.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.modal input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.modal button {
    margin-right: 10px;
}

.modal button:last-child {
    margin-right: 0;
}
.ajout {
    background-color: rgb(44, 160, 243);
    color: white;
    border-color: rgb(49, 211, 244);
    font-size: large;
    
}
.modif{
    background-color:rgb(55, 158, 14);
    color: white;
    border-color: yellowgreen;
   
}
.sup{
    background-color:red;
    color: white;
    border-color: red;}