.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
}

.widget, .chart {
    height: 200px; 
}

.bottom-row .users-table {
    width: 100%;
}

.chart-table {
    width: 100%;
    border-collapse: collapse;
}

.chart-table th, .chart-table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}



.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    overflow-y: auto;
    max-height: 250px;
}

.users-table th, .users-table td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.users-table th {
    background-color: #f2f2f2;
}