.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  font-family: 'Poppins', sans-serif;
}

.reset-password-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease;
}

.reset-password-card:hover {
  transform: translateY(-10px);
}

.reset-password-card h1 {
  font-size: 26px;
  color: #333333;
  margin-bottom: 15px;
}

.reset-password-card p {
  font-size: 16px;
  color: #555555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.reset-password-card ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.reset-password-card li {
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-password-card li strong {
  color: #0073e6;
  margin-right: 10px;
}

.reset-password-card p:last-child {
  font-size: 14px;
  color: #888888;
  margin-top: 20px;
}

.reset-password-card .contact-support {
  font-size: 14px;
  color: #333333;
  margin-top: 10px;
}

.reset-password-card .contact-support a {
  color: #0073e6;
  text-decoration: none;
}

.reset-password-card .contact-support a:hover {
  text-decoration: underline;
}
